<!doctype html>
<html>
	<head>
		<title>Pecunia - FAQ</title>
		<link rel="icon" type="image/x-icon" href="banner.png">
		<link href="bootstrap.css" rel="stylesheet" />
		<link href="geografieBCSS.css" rel="stylesheet" />
	</head>
	<body>
		<nav class="navbar navbar-expand-lg sticky-top bg-body-tertiary">
  		<div class="container-fluid">
  			<a class="navbar-brand" href="#">
  			<img src="banner.png" alt="Logo" width="18" height="28" class="d-inline-block align-text-top">
  			Navigation</a>
    		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
   			</button>
    		<div class="collapse navbar-collapse" id="navbarNavDropdown">
      			<ul class="navbar-nav">
       			<li class="nav-item">
         			<a class="nav-link active" aria-current="page" href="/">Home</a>
        		</li>
        		<li class="nav-item">
          			<a class="nav-link" href="/stats">Statistiken</a>
        		</li>
        		<li class="nav-item">
          			<a class="nav-link" href="/news">News</a>
        		</li>
        		<li class="nav-item">
          			<a class="nav-link" href="/pol">Politik</a>
        		</li>
        		<li class="nav-item">
          			<a class="nav-link" href="/geo">Geografie</a>
        		</li>
        		<li class="nav-item">
          			<a class="nav-link" href="/faq">FAQ</a>
        		</li>
        		<li class="nav-item">
          			<a class="nav-link" href="/kon">Kontakt</a>
        		</li>
        		<li class="nav-item">
          			<a class="nav-link" href="/imp">Impressum</a>
        		</li>
      			</ul>
      			
        		<form class="d-flex" role="search">
        			<input class="form-control me-2" type="search" placeholder="Suche..." aria-label="Search">
        			<button class="btn btn-outline-success" type="submit">Suche</button>
      			</form>
    		</div>
  		</div>
		</nav>
		
		<h1><span th:text="${appName}"></span> - <small class="text-body-secondary">FAQ</small></h1>
		<hr>
		
		<ul class="list-group list-group-flush">
  			<li class="list-group-item"><div class="card text-center">
  				<div class="card text-center text-bg-secondary mb-3 m-3">
  				<div class="card-header">Pecunia?</div>
  					<div class="card-body">
    					<h5 class="card-title">Was ist Pecunia?</h5>
    					<p class="card-text">Pecunia ist eine Minecraft Roleplay-Nation. Dabei geht es um eine Nation auf einem Minecraft Earth Server. <br> Weitere Infos findest du auf dieser Webseite oder auf unserem Discord.</p>
  					</div>
				</div>
			</li>
		
 			<li class="list-group-item">
 				<div class="card text-center text-bg-secondary mb-3 m-3">
  					<div class="card-header">Minecraft Earth Server?</div>
  					<div class="card-body">
    					<h5 class="card-title">Was ist ein Minecraft Earth Server?</h5>
    					<p class="card-text">Ein Minecraft Earth Server ist ein Roleplay-Server für das Videospiel Minecraft, auf dem die Erde mit maßstabsgetreuer Nachbildung als Map verwendet wird. <br> Dort können sich nun Städte, Nationen und Bündnisse bilden und um Macht und Ruhm streben.</p>
  					</div>
				</div>
 			</li>
 			<li class="list-group-item">
 				<div class="card text-center text-bg-secondary mb-3 m-3">
  					<div class="card-header">Twenture?</div>
  					<div class="card-body">
    					<h5 class="card-title">Auf welchem Server spielt ihr?</h5>
    					<p class="card-text">Wir spielen im Moment auf dem Minecraft Server "twenture.net". Dieser ist über die IP-Adresse: "mc.twenture.net" unter den neuesten 1.20.x Minecraft-Java-Versionen erreichbar.</p>
  					</div>
				</div>
 			</li>
 			
  			<li class="list-group-item">
  				<div class="card text-center text-bg-secondary mb-3 m-3">
  					<div class="card-header">Mitmachen?</div>
  					<div class="card-body">
    					<h5 class="card-title">Wie kann ich bei Pecunia mitmachen?</h5>
    					<p class="card-text">Wir suchen aktiv nach neuen Mitstreitern. Falls wir dein Interesse geweckt haben, kannst du uns über mehrere Möglichkeiten erreichen.<br> Du kannst uns über unser Kontakt-Formular schreiben, du kannst uns auf Discord schreiben oder du schreibst uns in Minecraft auf dem Server direkt. Wir freuen uns.</p>
  					</div>
				</div>
  			</li>
  			
 			<li class="list-group-item">
 				<div class="card text-center text-bg-secondary mb-3 m-3">
  					<div class="card-header">Discord?</div>
  					<div class="card-body">
    					<h5 class="card-title">Wie kann ich eurem Discord beitreten?</h5>
    					<p class="card-text">Klicke dazu einfach auf den Button darunter. Dadurch gelangst du direkt zu unserem Discord-Einladungslink.</p>
    					<a href="https://discord.gg/uDqMp2N9K6" class="btn btn-primary"><img src="discord.svg" class="img-fluid" alt="Discord-Link"></a>
  					</div>
				</div>
 			</li>
 			<li class="list-group-item">
 				<div class="card text-center text-bg-secondary mb-3 m-3">
  					<div class="card-header">Weitere Fragen?</div>
  					<div class="card-body">
    					<h5 class="card-title">Du hast noch weitere Fragen?</h5>
    					<p class="card-text">Falls du weitere Fragen hast, kannst du uns diese gerne über Discord, unser Kontaktformular oder in Minecraft stellen.<br> Wir versuchen alle Anfragen schnellstmöglich zu bearbeiten.</p>
  					</div>
				</div>
 			</li>
		</ul>
		
		<script src="bootstrap.bundle.min.js"></script>
	</body>
</html>